<!DOCTYPE html>
<html>
<head>
	<title>ACC Project Management</title>
</head>
<body>

	<%= render 'layouts/navigation' %>
	<div class="container">

	<div id="admin_info_container">
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div id="stat_panel">
					<h3 id="stat_heading">Statistics:</h3>
					<div id="stat_container">
						<p>Projects: <%= Project.count %></p>
						<p>Members: <%= User.count %></p>
						<p>Admin: <%= User.where(:is_admin => true).count %></p>
					</div>
				</div>
				<%= link_to 'Members Directory', users_path, class: "btn btn-info", id: "member_directory_btn" %>
			</div>
			
			<div class="col-sm-12 col-md-8">
				<div id="proj_panel">
					<h3 id="notif_heading">Project Proposals:</h3>
					<div id="projs_container"> 
						<% @projects.each do |project| %>
						<div class="proj_specific_info">
							<i class="fas fa-chevron-circle-right"></i> <%= link_to project.name, edit_project_path(project) %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</body>
</html>