<!DOCTYPE html>
<html>
<head>
	<title>ACC Project Management</title>
</head>
<body>

	<%= render 'layouts/navigation' %>
	<div class="container">
	<h1 id="available_projects_header">Admin Page</h1>
	<h3 id="stat_heading">Statistics:</h3>
	<div class="row">
        <div class="col-sm-4">
	<p>Members: <%= User.count %></p>
	<p>Admin: <%= User.where(:is_admin => true).count %></p>
	<p>Projects: <%= Project.count %></p>
	</div>
	<h3 id="notif_heading">Project Proposals:</h3>
	<div class="col-sm-3">
	<% @projects.each do |project| %>
		<div>
			<%= link_to project.name, edit_project_path(project) %>
		</div>
	<% end %>
	</div>
	</div>
	<%= link_to 'Members Directory', users_path, class: "btn btn-primary" %>
	</div>
</body>
</html>