<%= render 'layouts/navigation' %>

<div class="container">
	<h1 id="available_projects_header">Available Projects</h1>
</div>

<div class="container">
  	<div id="accordion">
  		<% @projects.each do |project| %>
  			<% proj_id = "heading" + project.id.to_s %>
  			<% proj_cls = "collapse" + project.id.to_s %>
  			<% proj_cls_hash = "#collapse" + project.id.to_s %>
		    <div class="card">
		      <div class="card-header" id=<%= proj_id %> >
		        <h5 class="mb-0">
		          <button class="btn btn-link" type="button" data-toggle="collapse" data-target=<%= proj_cls_hash %> aria-expanded="true" aria-controls=<%= proj_cls %> >
		              <i class="fas fa-file proj_icon"></i> <%= project.name %>
		          </button>
		        </h5>
		      </div>

		      <div id=<%= proj_cls %> class="collapse" aria-labelledby=<%= proj_id %> data-parent="#accordion">
		        <div class="card-body">
		          <%= project.description %> 

		          <%= form_for project do |f| %>
			        <%= f.hidden_field :is_accepted, value: true, :class => 'form-control' %>
			      	<%= f.submit 'Join', :class => 'btn btn-info', :id => 'join_btn' %>
			      <% end %>

		        </div>
		      </div>

		    </div>
		<% end %>
  	</div>
</div>

<div class="container">
<%= link_to '<i class="fa fa-plus"></i> Add New Project'.html_safe, new_project_path, class: "btn btn-info", id: "add_proj_btn" %>
</div>

